.footer {
  min-height: 250px;
  background-color: #212121;
  padding: 55px 55px 0px 55px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.footer-about span {
  color: white;
  font-family: 'Dosis';
  font-size: 24px;
  line-height: 40px;
}
.footer-about p {
  max-width: 600px;
  text-align: justify;
}
.footer-about {
  flex: 1 0 auto;
}
.footer-about p {
  color: #999;
  font-size: 17px;
  font-family: 'Rubik';
}
section.copyright {
  padding: 10px 0;
  border-top: 1px solid #555;
}
section.copyright ul li a {
  color: #777;
  transition: color 0.5s ease-in-out;
}
section.copyright ul li a:hover{
  color: #9C27B0;
}
.footer .copyright ul {
  color: #777;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .copyright ul li {
  display: inline-block;
  margin-right: 30px;
  font-family: 'Dosis';

}
@media screen and (max-width: 450px) {
  .footer {
    padding: 55px 20px 0px 20px; 
  }
}