div.drawer>div:last-child>div>a>div>span,
div.drawer>div:last-child>div:first-child>div span {
  text-align: center;
  font-family: "Rubik" !important;
}

div.drawer>div:last-child>div>a>div:hover {
  border-left: 5px solid #3f51b5;
  border-right: 5px solid #3f51b5;
}

.logo-img {
  height: 40px;
  margin-top: 12px;
}

.app-bar {
  background-color: white !important;
  color: #0d47a1 !important;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 7px 0 rgba(0,0,0,0.2), 0 3px 1px -2px rgba(0,0,0,0.2) !important; */
  box-shadow: none !important;
}

div.app-bar {
  align-items: center;
}

div.app-bar>div:last-child>div>[type="button"] {
  color: #0d47a1 !important;
}

div.app-bar>div:first-child {
  flex: 0 !important;
  min-width: 175px;
}
div.app-bar>div:last-child {
  margin: 0 !important;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
div.app-bar>div:last-child > div{
  flex: 1;
  display: flex;
}

.blog-btn a span {
  color: #0d47a1 !important;
}

#search-bar-wrapper {
  display: inline-flex;
  position: relative;
  flex: 1;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-right: 10px;
}

#search-bar-wrapper>div:first-child {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#search-bar-wrapper input {
  /* height: 20px; */
  padding: 7px 7px;
  box-sizing: content-box;
  border: none;
  opacity: 0.01;
  background-color: transparent;
  transition: all 0.2s linear;
  width: 0;
  will-change: opacity, width;
}

#search-bar-wrapper input.desktop {
  opacity: 1;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #BDA9FF;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: "Rubik";
}

#search-bar-wrapper input.active {
  opacity: 1;
  background-color: transparent;
  color: #0d47a1;
  font-size: 16px;
  font-family: "Rubik";
  border-bottom: 1px solid #0d47a1;
}
#search-bar-wrapper input.active:focus {
  box-shadow: none;
  outline: none;
}

#search-bar-wrapper input.active.desktop {
  opacity: 1;
  background-color: transparent;
  color: #0d47a1;
  font-size: 16px;
  font-family: "Rubik";
  border-bottom: 1px solid #0d47a1;
}

#search-bar-spinner {
  z-index: 5;
  position: absolute !important;
  right: 20px;
}

#header {
  position: relative;
}

#search-results.active>div.overlay {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: all 0.3s linear;
}

#search-results.active>div.search-content {
  background-color: white;
  position: absolute;
  top: 100%;
  left: 7.5%;
  right: 7.5%;
  max-height: 500px;
  overflow-y: auto;
  z-index: 11;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  font-family: "Rubik";
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s linear;
}

#search-results.active>div.search-content>* {
  margin: 10px;
  transition: all 0.3s linear;
}

#search-results.inactive {
  display: none;
  transition: all 0.3s linear;
}

#search-bar-wrapper input.active::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

#search-bar-wrapper input.active::-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

#search-bar-wrapper input.active::-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

#search-bar-wrapper input.active::-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}

#search-bar-wrapper input.desktop::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B5B9F1;
}

#search-bar-wrapper input.desktop::-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #B5B9F1;
}

#search-bar-wrapper input.desktop::-ms-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B5B9F1;
}

#search-bar-wrapper input.desktop::-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #B5B9F1;
}