.app-wrapper {
  background-color: #efefef;
}

.top25 {
  background-color: #efefef;
}

.top25 .top25-header + main {
  background-color: #212121;
}

.flex-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 34px 0 34px;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin: 20px 0;
  transition: all 0.4s ease-out;
  flex-basis: 30%;
}

.column > * {
  flex: 1 0 auto;
}

.column:hover {
  background-color: #0d47a1;
  border: 1px solid #0d47a1;
  box-shadow: rgba(48, 79, 254, 0.117647) 0px 0px 15px 5px,
    rgba(48, 79, 254, 0.117647) 0px 0px 10px 5px;
}

.site-desc {
  background-color: white;
  height: auto;
  padding: 0 7.5%;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  flex-flow: column;
}

.site-desc img {
  width: 100%;
  height: auto;
}

.site-desc {
  min-width: 250px;
  flex: 0;
}

.site-desc {
  padding-top: 75px;
  font-family: 'Raleway';
  flex: 1;
  font-size: 1.4em;
  line-height: 1.55em;
  text-align: justify;
  color: #424242;
  /* text-shadow: -1px 1px 1px rgba(0,0,0,.1) */
}

.site-desc > h1 {
  font-family: 'Rubik';
  color: #0d47a1;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 50px;
}

.site-desc > p {
  color: #212121;
  text-transform: uppercase;
  font-size: 0.8em;
}

.site-desc > .vert-divider {
  border-right: 1px solid #0d47a1;
  height: 150px;
}

.site-desc .action-buttons-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.stat-cards {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.card-style {
  display: block !important;
  width: 14vw !important;
  transition-duration: 0.3s !important;
  margin: 0 25px;
}

.card-style:hover {
  background-color: #0d47a1 !important;
}

.card-style:hover > div > span {
  color: white !important;
}


.card-header-style > div {
  width: 100%;
  text-align: center;
}


/* .column:hover div.chooser-title > div {
  color: white;
}

.column:hover div.sort-menu > button svg {
  fill: white !important;
} */

.top25-header {
  text-align: center;
  color: white;
  width: 100%;
  padding: 50px 0 30px 0;
  background-color: #212121;
}

.top25-header span {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway';
  font-weight: 600;
}

.top25-header p {
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 400;
  line-height: 50px;
}

.chooser-title {
  min-height: 50px;
  text-align: center;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white !important;
  align-items: start;
  padding: 20px;
}

.chooser-title > div:nth-child(2) {
  flex: 1 0 auto;
  color: #0d47a1;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.dv-star-rating-star svg {
  color: #e0e0e0 !important;
}

.star-rating {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.star-paper {
  font-size: 18px;
}

.plus-100-million {
  position: relative;
}

.ribbon {
  position: absolute;
  right: 0;
  top: 10px;
  font-family: 'Rubik';
  padding: 5px;
  font-size: 1.6;
  color: #ffffff;
  background: red;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  content: '';
  display: block;
}

.ribbon::before {
  width: 0.469em;
  height: 100%;
  top: 0;
  right: -0.469em;
  background: inherit;
}

.ribbon::after {
  width: 0;
  height: 0;
  border-top: 7.5px solid #2d2828;
  border-right: 7.5px solid transparent;
  bottom: -7.5px;
  right: -7.5px;
  box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

.column .react-loading-skeleton {
  height: 140px;
}

.widget {
  display: flex;
  padding: 35px 35px;
  min-width: 125px;
  min-height: 100px;
  flex-direction: column;
  align-items: center;
  border-right: 0.1em solid #D5D5D5;
}

.widget-title {
  font-family: 'Rubik';
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
  color: #505050;
}

.widget img {
  padding: 15px 0;
  width: auto !important;
  margin: 0 auto;
}

.widget > .LazyLoad.is-visible {
  display: flex;
  align-items: center;
  align-content: center;
}

.widget > .LazyLoad {
  width: 85px;
  min-width: 85px;
}

.widget:hover div.widget-title {
  color: #304ffe;
}

.widget:hover div.widget-text {
  color: black;
}

.widget:hover {
  background-color: #e0e0e0;
}

div.widget-title {
  transition: color 0.4s ease-out;
}

.widget-text {
  font-family: sans-serif;
  font-size: 14px;
  color: #777;
  height: 85px;
  padding: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  line-height: 17px;
}

i.fa-star {
  color: #0d47a1;
}

i.fa-star-o {
  color: grey;
}

.floating-action-button:hover {
  transform: scale(1.1);
}

.floating-action-button {
  transition: bottom 0.3s linear;
  position: fixed;
  z-index: 1;
  right: 32px;
  will-change: bottom, top;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  align-content: flex-start;
  align-items: flex-start;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form h3 {
  font-family: 'Rubik';
  font-size: 18px;
}

div.before-top25-title {
  width: 48px;
  height: 48px;
}

.widget-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll !important;
}

.due-diligence-info {
  background-color: #efefef;
  transition: all 0.5s ease-out;
}

.due-diligence-card{
  text-align: justify !important;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align-last: center;
  box-shadow: 10px 10px 1px 10px #888888 !important;
}

.due-diligence {
  background-color: #efefef;
}

.due-diligence.hide {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.6s ease-out;
  max-height: 0;
}

.due-diligence.show {
  transition: transform 0.6s ease-out;
  max-height: auto;
  transform: scaleY(1);
}

.due-diligence > input {
  border: 1px solid #0D47A1 !important;
  border-radius: 4px !important; 
}

.due-diligence > div {
  box-shadow: none !important;
}

.contact-form-card {
  text-align: left !important;
  text-align-last: left !important;
}

.news-row {
  padding: 50px 25px;
  display: flex;
}

.news-card {
  margin: 0 50px;
}

.map {
  text-align: center;
}

.map > div {
  box-shadow: none !important;
}

.map h1 {
  font-size: 2em;
  padding: 30px 0;
}

.map-photo {
  width: 70% ;
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  .widget {
    height: auto;
  }
  .site-desc p {
    display: none;
  }
  .site-desc {
    flex-basis: 100%;
  }
  .site-desc > h1 {
    font-weight: 500;
    text-align: center;
    line-height: 1.2em;
  }
  .site-desc .action-buttons-container {
    justify-content: center;
  }
  .site-desc .action-buttons-container > * {
    margin: 10px 0;
  }
  .site-desc img {
    margin-right: 0;
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid white;
  }
  .site-desc > .vert-divider {
    display: none;
  }
}

.input-row input {
  height: 3em !important;
}

.input-row input, .contact-form-inputs-wrapper> div> div > textarea {
  border: 1px solid #0D47A1 !important;
  border-radius: 4px !important;
}

.input-row > div > div, .contact-form-inputs-wrapper> div> div:last-child {
  display: none;
}

.input-row > div > label, .contact-form-inputs-wrapper> div > label {
  color: #D5D5D5 !important;
  text-transform: uppercase;
  left: 20px !important;
  top: 30px !important;
  
}
.contact-form-inputs-wrapper> div > label {
  top: 45px !important;
}

.contact-form-card > div:last-child {
  padding: 0 16px !important;
}

.input-row > div > label:hover, .input-row > div > label:active {
  transform: scale(0.75) translate(0px, -10px) !important;
}

@media screen and (max-width: 1000px) {
  .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column {
    flex-basis: 47%;
    margin-bottom: 27px;
  }
  .animation video {
    width: 90% !important;
  }
}

@media screen and (max-width: 760px) {
  .stat-cards {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .card-style {
    width: 50% !important;
    margin: 20px 0;
  }
  .column {
    flex-basis: 100%;
    margin-bottom: 27px;
  }
  .news-row {
    flex-direction: column;
  }
  .news-card {
    margin: 20px 0;
  }
  .widget-list {
    flex-direction: column;
    overflow-x: hidden !important;
  }
  .data-analysis-card-text {
    flex-direction: column;
  }
  .flex-container {
    padding: 0 10px;
  }
  .due-diligence .input-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .due-diligence-card {
    padding: 20px 5px !important;
  }
  .animation video {
    width: 100% !important;
  }
  .contact-form-inputs-wrapper {
    display: flex;
    flex-direction: column;
  }
  .contact-form-inputs-wrapper > * {
    width: 100% !important;
    max-width: 100%;
    flex-basis: 100%;
  }
  .input-row > * {
    width: 100% !important;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0 !important;
  }
  .due-diligence .input-row > * {
    flex-basis: 100%;
  }
  .site-desc {
    font-size: 1.3em;
    padding: 0 2.5%;
  }
}

.data-analysis {
  background-color: #efefef;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
}

.animation {
  display: flex;
  justify-content: center;
}

.animation video {
  width: 65vw;
  height: auto;
}

.data-analysis h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.data-analysis .desc,
.data-analysis .goal {
  text-align: justify;
  margin: 0 5vw;
  font-family: "Rubik";
  font-size: 1.3em;
  color: rgb(85, 85, 85);
}

.data-analysis .goal { 
  margin-bottom: 20px;
  margin-top: 30px;
}

@media screen and (max-width: 565px) {
  .site-desc .action-buttons-container > div:first-child {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 380px) {
  .site-desc > h1 {
    font-size: 0.9em;
  }
}
