.app-wrapper {
  background-color: #efefef;
}

.top25 {
  background-color: #efefef;
}

.top25 .top25-header+main {
  background-color: #efefef;
}

.flex-container {
  min-height: 100vh;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  padding: 20px 34px 0 34px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  transition: all 0.4s ease-out;
  flex-basis: 30%;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.column>* {
  flex: 1 0 auto;
}

.column:hover {
  background-color: #0d47a1;
  border: 1px solid #0d47a1;
  box-shadow: rgba(48, 79, 254, 0.117647) 0px 0px 15px 5px, rgba(48, 79, 254, 0.117647) 0px 0px 10px 5px;
}

.site-desc {
  background-color: white;
  height: 400px;
  padding: 0 7.5%;
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.site-desc img {
  width: 100%;
  height: auto;
}

.site-desc>div:nth-child(1) {
  margin-right: 5%;
  min-width: 250px;
  flex: 0;
}

.site-desc>div:nth-child(3) {
  font-family: "Raleway";
  flex: 1;
  font-size: 1.4em;
  padding-left: 5%;
  line-height: 1.55em;
  text-align: justify;
  color: #424242;
  /* text-shadow: -1px 1px 1px rgba(0,0,0,.1) */
}

.site-desc>div:nth-child(3)>h1 {
  font-family: "Rubik";
  color: #0d47a1;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.site-desc>div:nth-child(3)>p {
  color: grey;
}

.site-desc>.vert-divider {
  border-right: 1px solid #0d47a1;
  height: 150px;
}

.site-desc .action-buttons-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.column:hover div.chooser-title>div {
  color: white;
}

.column:hover div.sort-menu>button svg {
  fill: white !important;
}

.top25-header {
  text-align: center;
  width: 100%;
  padding: 50px 0 30px 0;
  background-color: #efefef;
}

.top25-header span {
  color: #555;
  font-size: 1.7em;
  font-family: "Raleway";
  font-weight: 600;
}

.top25-header p {
  color: grey;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 26px;
}

.chooser-title {
  min-height: 50px;
  text-align: center;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chooser-title>div:nth-child(2) {
  flex: 1 0 auto;
  color: #4f4f4f;
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
}

.dv-star-rating-star svg {
  color: #e0e0e0 !important;
}

.star-rating {
  margin-left: 30px;
  font-size: 18px;
}

.star-paper {
  font-size: 18px;
}

.plus-100-million {
  position: relative;
}

.ribbon {
  position: absolute;
  right: 0;
  top: 10px;
  font-family: "Rubik";
  padding: 5px;
  font-size: 1.6;
  color: #ffffff;
  background: red;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  content: "";
  display: block;
}

.ribbon::before {
  width: 0.469em;
  height: 100%;
  top: 0;
  right: -0.469em;
  background: inherit;
}

.ribbon::after {
  width: 0;
  height: 0;
  border-top: 7.5px solid #2d2828;
  border-right: 7.5px solid transparent;
  bottom: -7.5px;
  right: -7.5px;
  box-shadow: inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

.column .react-loading-skeleton {
  height: 140px;
}

.widget {
  display: flex;
  padding: 20px 30px;
  min-height: 100px;
}

.widget-title {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 18px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #505050;
}

.widget img {
  width: 85px;
  height: auto;
}

.widget>.LazyLoad.is-visible {
  display: flex;
  align-items: center;
  align-content: center;
}

.widget>.LazyLoad {
  width: 85px;
  min-width: 85px;
}

.widget:hover div.widget-title {
  color: #304ffe;
}

.widget:hover div.widget-text {
  color: black;
}

.widget:hover {
  background-color: #e0e0e0;
}

div.widget-title {
  transition: color 0.4s ease-out;
}

.widget-text {
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #777;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}

i.fa-star {
  color: red;
}

i.fa-star-o {
  color: grey;
}

.floating-action-button:hover {
  transform: scale(1.1);
}

.floating-action-button {
  transition: bottom 0.3s linear;
  position: fixed;
  z-index: 1;
  right: 32px;
  will-change: bottom, top;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  align-content: flex-start;
  align-items: flex-start;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form h3 {
  font-family: "Rubik";
  font-size: 18px;
}

div.before-top25-title {
  width: 48px;
  height: 48px;
}

.widget-list {
  display: flex;
  flex-direction: column;
}

.due-diligence-info {
  padding: 0 34px;
  margin-bottom: 55px;
  background-color: #efefef;
  will-change: height;
  transition: all 0.5s ease-out;
}

.due-diligence {
  background-color: #efefef;
  will-change: height;
  transition: all 0.5s ease-out;
}

.due-diligence>div>div {
  box-shadow: none !important;
}

.due-diligence.show {
  height: auto;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.due-diligence.hide {
  transition: all 0.5s ease-out;
  height: 0 !important;
  opacity: 0.01;
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 1170px) {
  .widget {
    height: auto;
  }
  .site-desc {
    flex-wrap: wrap;
  }
  .site-desc p {
    display: none;
  }
  .site-desc>div:nth-child(1) {
    padding: 0 10%;
    margin-bottom: 20px;
    flex-basis: 30%;
  }
  .site-desc>div:nth-child(3) {
    flex-basis: 100%;
  }
  .site-desc>div:nth-child(3)>h1 {
    font-weight: 500;
    text-align: center;
    line-height: 1.2em;
  }
  .site-desc .action-buttons-container {
    justify-content: center;
  }
  .site-desc .action-buttons-container>* {
    margin: 10px 0;
  }
  .site-desc img {
    margin-right: 0;
    padding: 0 10px 20px 10px;
    border-bottom: 1px solid white;
  }
  .site-desc>.vert-divider {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column {
    flex-basis: 47%;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 760px) {
  .column {
    flex-basis: 100%;
    margin-bottom: 27px;
  }
  .flex-container {
    padding: 0 10px;
  }
  .due-diligence .input-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .due-diligence-info {
    padding: 0 10px;
  }
  .contact-form-inputs-wrapper {
    display: flex;
    flex-direction: column;

  }
  .contact-form-inputs-wrapper>* {
    width: 100% !important;
    max-width: 100%;
    flex-basis: 100%;
  }
  .input-row >* {
    width: 100% !important;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0 !important;
  }
  .due-diligence .input-row>* {
    flex-basis: 100%;
  }
  .site-desc>div:nth-child(3) {
    font-size: 1.3em;
    padding: 0 2.5%;
  }
}

@media screen and (max-width: 565px) {
  .site-desc .action-buttons-container>div:first-child {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 380px) {
  .site-desc>div:nth-child(3)>h1 {
    font-size: .9em;
  }
}